extends ../layout

block content
    h1.text-center Login

    h3.center.text-danger.text-center=errorMessage

    figure.text-center
        form.form-login(action="/auth" method="POST")
            div.form-group.col-md-12
                label(for="username") Username:
                input(
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                    required
                )

            div.form-group.col-md-12
                label(for="password") Password:
                input(
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    required
                )

            input.btn.btn-lg.btn-secondary.btn-block(
                type="submit"
                value="Login"
            )